.button {
    outline: none;
    text-decoration: none;
    padding: 10px 70px;
    height: 50px;

    &__add-sound {
        background-color: transparent;
    }

  

    &__play {
        background-color: green;
        color: white;
    }

    &__add-files {
        background-color: transparent;
       
    }

}