.button {
    outline: none;
    text-decoration: none;
    padding: 10px 70px;

    &__add-sound {
        background-color: transparent;
    }

    &__add-files {
        
        
    }

    &__play {

    }

}