.source {
    width: 25px;
    background-color: blue;
    height: 25px; 
    border-radius: 10px;
    text-align: center;
}

.handle {
    transform: translateX(-40%);
    text-align: center;
}

.fa-volume-up {
    color: white;
}